@font-face {
    font-family: "Larsseit";
    src: url("/Larsseit.ttf");
}

nav {
    background-color: #003F47;
    color: white;
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Larsseit';
}

nav li {
    list-style: none;
    font-family: 'Larsseit';

}

nav li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 8px;
    font-family: 'Larsseit';
}

nav h1 {
    font-family: 'Larsseit';
    font-weight: bolder;
    font-size: 1.5cm;
}

nav li a:hover {
    color: yellow;
    text-decoration: none;
}

div {
    font-family: 'Larsseit';
}

.container {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}

.card-header {
    font-weight: bold;
}

.input-group-text {
    width: 1cm;
    text-align: center;
}

.btn {
    margin-bottom: 1cm;
    width: 5cm;
}